<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                    <h3>Concept</h3>
                    <p class="text-muted">The piece starts with you. Your vision, those elements that are essential to you, your colo preference, size and budget.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Design</h3>
                    <p class="text-muted">Building on your concept, we include our experience of proven design to bring your elements into an artistic layout that is appealing to the eye and meets your needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera-retro wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Proof</h3>
                    <p class="text-muted">Once the design is complete we present it to you for approval to ensure we have capture your concept accurately. (Some projects may require a deposit prior to starting.)</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Reality</h3>
                    <p class="text-muted">After final approval it's off to the workshop to bring your unique piece to life, and to you as soon as we can. We take pride in creating a custom piece you are happy with and we can stand behind.</p>
                </div>
            </div>
        </div>
    </div>
</section>
